@import '../../vars';
@import '../../mixin';
.indicator {
  margin: 20px 0;
  display: grid;
  grid-template-columns: 285px 1fr;
  grid-gap: 1vw;
  position: relative;
  padding: 20px 0;
  @include for-xsmall-only {
    grid-template-columns: 1fr;
  }
  &:not(:last-of-type) {
    &:before {
      content: '';
      position: absolute;
      left: 70px;
      bottom: 0;
      height: 1px;
      width: calc(100% - 100px);
      border-bottom: 1px solid $border;
    }
    .linedown {
      display: block;
    }
  }
  .info {
    display: flex;
    .infoBox {
      padding: 0 0 0 20px;
      .diff {
        background-color: $green;
        border-radius: 10px;
        padding: 0 5px;
        color: $white;
        font-size: 12px;
        font-weight: normal;
        vertical-align: middle;
        margin: 0 0 0 10px;
      }
      .danger {
        background-color: $red;
      }
      h2 {
        white-space: nowrap;
        text-transform: capitalize;
        &:first-of-type {
          margin: 0;
        }
      }
      h1 {
        white-space: nowrap;
        text-transform: capitalize;
        display: flex;
        align-items: center;
        &:last-of-type {
          color: $second-text;
        }
        span {
          margin: 0 0 0 10px;
          font-size: 14px;
          font-weight: normal;
          text-transform: capitalize;
        }
      }
    }
  }
  .extraData {
    @include for-xsmall-only {
      padding: 0 0 0 70px;
    }
  }
  .linedown {
    display: none;
    height: 70px;
    background: url('./images/linedown.png') no-repeat;
    background-position: center;
    background-size: auto 70px;
  }
}
