@import '../../vars';
@import '../../mixin';

.container {
  padding: 20px;
  margin: 10px;
  border-radius: 37px;
  background-color: $background;
  max-width: 748px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);

  @include for-xsmall-only {
    padding: 10px;
    margin: 0;
    border-radius: 5px;
  }
}
