@import '../../vars';
@import '../../mixin';

.container {
  padding: 20px;
  margin: 10px;
  border-radius: 7px;
  background-color: $background;
  @include for-xsmall-only {
    padding: 10px;
    margin: 0;
    border: none;
  }
}
