@import '../../vars';
@import '../../mixin';

.chartBar {
  margin: 20px 0;
  .bar {
    margin: 20px 0;
    height: 8px;
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: inherit;
    :first-child {
      border-bottom-left-radius: 3px;
      border-top-left-radius: 3px;
    }

    :last-child {
      border-bottom-right-radius: 3px;
      border-top-right-radius: 3px;
    }
  }
  .legendaList {
    display: grid;
    grid-auto-columns: 150px;
    grid-auto-flow: column;
    grid-gap: 0 1vw;
    @include for-xsmall-only {
      grid-auto-columns: 100px;
      grid-auto-flow: inherit;
    }
    .legenda {
      display: flex;
      align-items: center;
      .color {
        width: 10px;
        height: 10px;
        display: inline-block;
        border-radius: 3px;
        margin: 0 5px 0 0;
      }
      .value {
        color: $black;
        font-size: 12px;
        font-weight: 600;
      }
    }
  }
}
