@import '../../vars';

.chartBar {
  .bar {
    height: 20px;
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: inherit;
    :first-child {
      border-bottom-left-radius: 3px;
      border-top-left-radius: 3px;
    }

    :last-child {
      border-bottom-right-radius: 3px;
      border-top-right-radius: 3px;
    }
  }
  .legendaList {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    .legenda {
      display: flex;
      align-items: center;
      .color {
        width: 15px;
        height: 15px;
        display: inline-block;
        border-radius: 3px;
        margin: 0 5px 0 0;
      }
      .value {
        color: $black;
      }
    }
  }
}
