@import '../../vars';
@import '../../mixin';

.tabPanel {
  margin: 20px 0;
  display: grid;
  grid-auto-columns: 90px;
  grid-auto-flow: column;
  grid-gap: 0;
  @include for-xsmall-only {
    margin: 0;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: inherit;
  }
  .selected a {
    background-color: $blue;
    color: $white !important;
    border: none;
  }
  ul {
    user-select: none;
    margin: 0;
  }
  li {
    list-style-type: none;
    &:not(:last-of-type) a {
      border-right: none;
    }
    a {
      user-select: none;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid $border;
      box-sizing: border-box;
      height: 32px;
      color: $text;
      text-decoration: none;
      ::first-letter {
        text-transform: capitalize;
      }
      &:hover,
      &:focus {
        color: $link-hover;
        outline: none;
      }

      &:active {
        color: $link-active;
      }
    }
    &:first-of-type a {
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
    }

    &:last-of-type a {
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
    }
    @include for-xsmall-only {
      &:first-of-type a {
        border-bottom-left-radius: 0;
        border-top-left-radius: 5px;
      }
      &:nth-child(2) a {
        border-top-right-radius: 5px;
      }
      &:nth-child(3) a {
        border-bottom-left-radius: 5px;
      }
      &:last-of-type a {
        border-bottom-right-radius: 5px;
        border-top-right-radius: 0;
      }
      a{
        border-right: 1px solid $border !important;
      }
    }
  }
}
