@import 'vars';
@import 'mixin';
body {
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  line-height: 1.75;
  color: $text;
  @include for-xsmall-only {
    font-size: 12px;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
  line-height: 1.33;
}

h1 {
  font-size: 22px;
  @include for-xsmall-only {
    font-size: 18px;
  }
}

h2 {
  font-size: 18px;
  @include for-xsmall-only {
    font-size: 16px;
  }
}

h3 {
  font-size: 16px;
  @include for-xsmall-only {
    font-size: 14px;
  }
}

a {
  color: $link;
  text-decoration: none;
  transition: color 0.3s;

  &:hover,
  &:focus {
    color: $link-hover;
    text-decoration: underline;
  }

  &:active {
    color: $link-active;
  }
}
