@import 'vars';
body {
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
  line-height: 1.75;
  color: $text;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: 1.83em;
  font-weight: 600;
  line-height: 1.33;
}

h1 {
  font-size: 36px;
  margin: 50px 0 15px;
}

h2 {
  font-size: 30px;
  line-height: 1.4;
  margin: 40px 0 15px;
}

h3 {
  font-size: 24px;
  margin: 30px 0 15px;
}

h4 {
  font-size: 18px;
  line-height: 1.44;
  margin: 25px 0 5px;
}

h5 {
  margin: 20px 0 10px;
  font-size: 14px;
  line-height: 1.57;
}

a {
  color: $link;
  text-decoration: none;
  transition: color 0.3s;

  &:hover,
  &:focus {
    color: $link-hover;
    text-decoration: underline;
  }

  &:active {
    color: $link-active;
  }
}
