//палитра
$yellow: #f5cc00;
$orange: #ff761c;
$orangeless: #ff9d1b;
$green: #8bc34a;
$blue: #4d95f3;
$blueviolet: #5856d5;
$red: #ef6a67;
$gray: #d9d9d9;
$gray-light: #a0b0b9;
$black: #4a4a4a;
$white: #ffffff;

//алиасы
$background: #eff1f4;
$border: $gray;
$text: $black;
$second-text: $gray-light;
$link: $blue;
$link-hover: $orangeless;
$link-active: $orange;

//девайсы
$screen-min: 320px;
$screen-xsmall: 568px;
$screen-small: 768px;
$screen-medium: 1024px;
$screen-max: 1280px;
