@import '../../vars';

.avatar {
  .circle {
    position: relative;
    border-radius: 24px;
    width: 48px;
    height: 48px;
    background-color: $blue;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .status {
    display: none;
    border-radius: 50%;
    border: 2px solid white;
    width: 10px;
    height: 10px;
    position: absolute;
    right: 0;
    top: 1px;
  }
  .good {
    display: block;
    background-color: $green;
  }
  .bad {
    display: block;
    background-color: $red;
  }
  .searches {
    background-image: url('./images/filter.svg');
  }
  .clicks {
    background-image: url('./images/click.svg');
  }
  .bookings {
    background-image: url('./images/booking.svg');
  }

}
